<a href="{{ .Site.Home.RelPermalink }}" aria-label="Home">
  <h1>{{ .Site.Title }}</h1>
</a>
<nav>
  {{ $currentPage := . }}

  {{ range .Site.Menus.main }}
  {{ if eq .Identifier "language" }}
  <!-- Dynamic Language Switcher -->

  <div class="dropdown">
    <a href="#" aria-expanded="false" aria-label="Language Switcher">
      {{ .Pre | markdownify }}{{ i18n .Identifier | default .Name }}
    </a>


    <div class="dropdown-content">
      {{ with $.Page.Translations }}
      {{ range . }}

      <a href="{{ .RelPermalink }}" hreflang="{{ .Language.Lang }}">
        {{ .Language.LanguageName }}
      </a>

      {{ end }}
      {{ end }}
    </div>

  </div>
  {{ else }}
  <!-- Regular Menu Items -->

  <a href="{{ .URL | relLangURL }}" aria-current="page" aria-label="{{ i18n .Identifier | default .Name }}">{{ .Pre | markdownify }}{{ i18n .Identifier | default .Name }}</a>

  {{ end }}
  {{ end }}
</nav>