



{{ if or .NextInSection .PrevInSection }}
<div class="pagination">

        {{ if .NextInSection }}

            <a class="previous" href="{{ .NextInSection.Permalink }}">
                <span class="button__icon">←</span>
                <span class="button__text">{{ .NextInSection.Title }}</span>
            </a>

       
        {{ end }}
    

        {{ if .PrevInSection }}
 
            <a class="next" href="{{ .PrevInSection.Permalink }}">
                <span class="button__text">{{ .PrevInSection.Title }}</span>
                <span class="button__icon">→</span>
            </a>

        {{ end }}
    </div>

{{ end }}