{{ define "main" }}

  <div class="work-header">
    <h1>{{ T "latest" | default "Latest" }}</h1>
  </div>

  {{ with .Content }}
  <div class="home-intro">{{ . }}</div>
  {{ end }}

  <div class="content-grid">
    {{ range first 3 (sort (where .Site.RegularPages "Section" "work") "Date" "desc") }}
      {{ partial "work-card.html" . }}
    {{ end }}
  </div>

  <a class="more" href="{{ (index (where .Site.Menus.main "Identifier" "work") 0).URL | relLangURL }}">
    {{ T "more" | default "View all work" }}
  </a>

{{ end }}
