{{ define "main" }}

  {{ .Content }}

  <div class="content-grid">
    {{ range site.RegularPages }}

            <div>
              <a href="{{ .Permalink }}" title="{{ .Title }}">
                 <h2>{{ .LinkTitle }}</h2>
        {{ if and (isset .Params "image") .Params.image }}
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}
                    {{ end }}
            </a>
            </div>

    {{/*  {{ .Summary }}  */}}
  {{ end }}
  </div>
{{ end }}
