{{ define "main" }}

  {{ .Content }}


      {{/*  {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if eq .Weight 10 }}
        <h1>
          {{ .Pre | markdownify }}{{ T "latest" | default "Latest" }} 
          {{ i18n .Identifier | default .Name }}
        </h1>

    

      {{ end }}
    {{ end }}  */}}


  <div class="content-grid">
    {{ range first 6 (sort .Site.RegularPages "Date" "desc" (where .Site.RegularPages "Section" "work")) }}
{{/*  {{ range (sort .Pages "Date" "desc" (where .Site.Pages ".Params.private" "!=" false))}}  */}}
            <div class="content-card">
              <a href="{{ .Permalink }}" title="{{ .Title }}">
                 <h2 class="grid-card-title">{{ .LinkTitle }}</h2>
        {{ if and (isset .Params "image") .Params.image }}
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "300x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" >
            {{end}}
                    {{ end }}
            </a>
            </div>

  {{ end }}
  </div>

  <div class="more">
      {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if eq .Weight 10 }}

      <a href="{{ .URL | relLangURL }}" aria-current="page" aria-label="{{ i18n .Identifier | default .Name }}">
        {{ .Pre | markdownify }}{{ T "more" | default "more" }} {{ i18n .Identifier | default .Name }}
      </a>

      {{ end }}
    {{ end }}
  </div>





{{ end }}
