{{ define "main" }}

  {{ $currentPage := . }}

  {{ range .Site.Menus.main }}
  {{ if eq .Identifier "works" }}

  <!-- Regular Menu Items -->

 <h1 class="page-title">{{ .Pre | markdownify }}{{ i18n .Identifier | default .Name }}</h1>


  {{ end }}
  {{ end }}
{{ partial "work-pagination.html" . }}
  <div class="page">
    

    <div class="page-card">
      <div class="page-image">
        {{ if and (isset .Params "image") .Params.image }}

        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "400x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="work-image">
        {{end}}

        {{ end }}
      </div>

      <div class="page-meta">
        {{ if .Params.externalurl }}
          <h2>🔗 <a href="{{ .Params.externalurl }}" target="_blank">{{ .Title }}</a></h2>
        {{ else if .Params.github }}
          <h2>🔗 <a href="{{ .Params.github }}" target="_blank">{{ .Title }}</a></h2>
        {{ else }}
          <h2>{{ .Title }}</h2>
        {{ end }}

        {{ if .Params.organization }}
        <div>{{ .Params.organization }}</div>
        {{ end }}

        {{ if .Params.position }}
        <div>{{ .Params.position }}</div>
        {{ end }}

                    {{ if .Date }}
          <div>
            {{ if .Params.location }}
              <em>{{ .Params.location }}</em>
            {{ end }}
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $startdateMachine := .Params.datestart | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ if .Params.datestart }}
              (<time datetime="{{ $startdateMachine }}">{{ .Params.datestart.Format "Jan 2006" }}</time> - <time datetime="{{ $dateMachine }}">{{ .Date.Format "Jan 2006" }}</time>)
            {{ else }}
              (<time datetime="{{ $dateMachine }}">{{ .Date.Format "Jan 2006" }}</time>)
            {{ end }}
          </div>
        {{ end }}

        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>
  </div>
{{ end }}