{{ define "main" }}
 
<div class="page">

   {{ partial "work-pagination.html" . }}

  <div class="page-card">
    <div class="page-image">
      {{ if and (isset .Params "image") .Params.image }}

      {{ $image := .Page.Resources.GetMatch .Params.image }}
      {{ with $image }}
      {{ $thumb := .Resize "400x" }}
      <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="work-image">
      {{end}}

      {{ end }}
    </div>

    <div class="page-meta">

      <h1>{{ .Title }}</h1>

        {{ if .Params.organization }}
{{ .Params.organization }} 
        {{ end }}
      
      <div>
        {{ .Params.position }} - <em>{{ .Params.location }}</em> - 
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        <time datetime="{{ $dateMachine }}">{{ .Date.Format "2006" }}</time>
      </div>

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}


  {{ if .Params.externalurl }}
      
      <div>🌐 <a href="https://{{ .Params.externalurl }}" target="_blank">{{ .Params.externalurl }}</a></div>
  
   {{ else if .Params.github }}
   <div><a href="{{ .Params.github }}" target="_blank">{{ .Params.github }}</a></div>
  
      {{ end }}

          {{ .Content }}
    </div>


  </div>



</div>


{{ end }}