 @font-face {
   font-family: "Atkinson Hyperlegible", sans-serif;
   src: url('/fonts/Atkinson_Hyperlegible_Next/TTF/AtkinsonHyperlegibleNext-Regular.ttf') format('truetype'),
        url('/fonts/Atkinson_Hyperlegible_Next/WOFF2/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: "Atkinson Hyperlegible", sans-serif;
   src: url('/fonts/Atkinson_Hyperlegible_Next/TTF/AtkinsonHyperlegibleNext-Bold.ttf') format('truetype'),
        url('/fonts/Atkinson_Hyperlegible_Next/WOFF2/AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
 }

  @font-face {
   font-family: "Atkinson Hyperlegible Mono", sans-serif;
   src: url('/fonts/Atkinson_Hyperlegible_Mono/TTF/AtkinsonHyperlegibleMono-Regular.ttf') format('truetype'),
        url('/fonts/Atkinson_Hyperlegible_Mono/WOFF2/AtkinsonHyperlegibleMono-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: "Atkinson Hyperlegible Mono", sans-serif;
   src: url('/fonts/Atkinson_Hyperlegible_Mono/TTF/AtkinsonHyperlegibleMono-Bold.ttf') format('truetype'),
        url('/fonts/Atkinson_Hyperlegible_Mono/WOFF2/AtkinsonHyperlegibleMono-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
 }

 body {
  background-color: black;
 }