:root {
    color-scheme: light dark;
    --background-color: #ffffff;
    --txt-color: #36263f;
    --heading-color: #F64141;
}

html {
    font-family: Lato, sans-serif;
    color: var(--txt-color);
    font-weight: 300;
}

body {
    width: 820px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
    background-color: var(--background-color);
    justify-content: space-between;
}

a,
a:visited {
    text-decoration: none;
    color: var(--heading-color);
}

a:hover {
    color: rgb(237, 163, 65);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header-title {
    display: block;
    color: var(--heading-color);
}


nav>* {
    border: 1px solid var(--heading-color);
    margin-left: 0.67em;
    padding: 10px 10px;
    font-size: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
    border: none !important;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid #F64141;
    z-index: 1;
    width: 70px;
}

.dropdown-content a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: var(--background-color);
    color: var(--heading-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1,
main h2 {
    color: var(--heading-color);
}

main img {
    width: 250px;
    height: 250px;
    border: 1px solid;
    object-fit: cover;
}

.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}



.pagination {   
     display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid;
}

.previous {

}
.pagination-title {
    font-weight: 900;
    font-size: 1.4em;
 
}
.next {

}

.page-card{
       display: flex;
       justify-content: space-between;

}

.page-meta {
        flex-grow: 1;
    margin-left: 25px;
}

footer {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #36263f;
        --text-color: #f0f0f0;
        /* ... other dark theme variables ... */
    }

    body {
        color: var(--text-color);
    }

}