html {
    font-family: Lato, sans-serif;
}

body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
}

a,
a:visited {
    text-decoration: none;
    color: rgb(246, 65, 65);
}

a:hover {
    color: rgb(237, 163, 65);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.item:first-child {
    border: 1px solid;
    margin-right: auto;
    /* Pushes the last child to the right */
}

.header-title {
    display: block;
}


.header-nav ul {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.lang-button {
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.692);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: rgb(246, 65, 65);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

main img {
    width: 250px;
    height: 250px;
    border: 1px solid;
    object-fit: cover;
}

#work-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

footer {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --text-color: #f0f0f0;
        /* ... other dark theme variables ... */
    }
}