:root {
	color-scheme: light dark;
    --background-color: #ffffff;
}

html {
    font-family: Lato, sans-serif;
}

body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
        background-color: var(--background-color);
}

a,
a:visited {
    text-decoration: none;
    color: rgb(246, 65, 65);
}

a:hover {
    color: rgb(237, 163, 65);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header-title {
    display: block;
}


.header-nav ul {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #F64141;
        margin-left: 2em;
    padding: 5px 7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid #F64141;
    z-index: 1;
    width: 75px;
}

.dropdown-content a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: var(--background-color);
    color: rgb(246, 65, 65);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

main img {
    width: 250px;
    height: 250px;
    border: 1px solid;
    object-fit: cover;
}

.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #36263f;
        --text-color: #f0f0f0;
        /* ... other dark theme variables ... */
    }

}